<div class="form-container">
    <h2>DATOS DEL PACIENTE</h2>
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>NOMBRE</mat-label>
          <input matInput formControlName="nombre" placeholder="Nombre">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>TELEFONO</mat-label>
          <input matInput formControlName="telefono" placeholder="Teléfono">
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-label>APELLIDO</mat-label>
          <input matInput formControlName="apellido" placeholder="Apellido">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <mat-label>E-MAIL</mat-label>
          <input matInput formControlName="email" placeholder="E-mail">
        </mat-form-field>
      </div>
  
      <button mat-raised-button color="primary" [disabled]="!patientForm.valid">
        SIGUIENTE
      </button>
    </form>
  
    <!-- Puedes agregar una imagen debajo del formulario -->
    <div class="image-container">
      <img src="assets/img/doctor-patient.jpg" alt="Doctor with Patient">
    </div>
  </div>
  