.admin-container {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.add-button {
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

.full-width-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}